<%= form_for @book, :html => { :multipart => true,:class => 'form-horizontal' } do |f| %>


  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.template.header', :count=>@book.errors.count,
:model=>t('activerecord.models.book')) %>: </h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= raw msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="control-group">
    <%= f.label (t '.title'),:class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field input-xlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label (t '.photo'), :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :pic , :class => 'text_field'%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label (t '.author'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :author, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label (t '.description'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :rows => 6 ,:class => 'text_area input-xxlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label (t '.price'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'text_field input-mini' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit t('.submit'), :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                books_path, :class => 'btn' %>
  </div>
<% end %>
