<div class="page-header">
  <h1>Our Exclusive Catalog</h1>
</div>

<div id="store">
  <% @books.each do |book| %>
    <div class="entry">
      <%= image_tag book.pic.url(:thumb) %>
      <h4><%= book.title %></h4>
     
      <%= sanitize (truncate(strip_tags(book.description),
                    :length => 300) ) %>
      <div class="price_line">
        <span class="price"><%=number_to_currency(book.price)%></span>
        <%= link_to raw("<i class=\"icon-shopping-cart\"></i>"), line_items_path(book_id: book), :class => "btn btn-small btn-success", method: :post %>
      </div>
    </div>
  <% end %>
</div>

