<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Alexandria Links</a>
          <div class="container-fluid nav-collapse">
            <ul class="nav pull-right">

<% if false %>
              <li>
    <div class="btn-group">
    <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> User</a>
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
    <ul class="dropdown-menu">
    <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
    <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
    <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
    <li class="divider"></li>
    <li><a href="#"><i class="i"></i> Make admin</a></li>
    </ul>
    </div>
              </li>
<% end %>
              <li>
                <%= form_tag  do %>
                  <%= select_tag 'change_background', 
                     options_for_select([ ['Default','default'],
                                          ['Blue', 'blue'], 
                                          ['Green', 'green'], 
                                          ['Light Blue','lightblue'],
                                          ['Pink','pink'],
                                          ['Wood', 'wood'],
                                          ['Vertical Wood', 'verticalwood']
                                        ]) ,
                    :onchange => 'cambio(this.value)',
                    class: "span2 btn btn-success btn-small dropdown-toggle" %>
                  <% end %>
              </li>
 
              <% if session[:user_id] %>
                <li>
                  <%= form_tag store_path, :class => 'locale' do %>
                  <%= select_tag 'set_locale', 
                     options_for_select(LANGUAGES, I18n.locale.to_s),
                    :onchange => 'this.form.submit()',class: "span2 btn" %>

                      <%= javascript_tag "$$('.locale input').each(Element.hide)" %>
                  <% end %>
                </li>
              <% end %>

              <li>
                <%= link_to "Sign In", admin_path %>
              </li>

            </ul>
          </div>
        </div>
      </div>
</div>
