<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Alexandria Links</a>
          <div class="container-fluid nav-collapse">
            <ul class="nav pull-right">

              <%#= Selector de Background %>
              <li>

                  <%= select_tag 'change_background', 
                     options_for_select([ 

                      ['Default','default'],
                      ['Brown','brown'],
                      ['Blue','blue'],
                      ['Pink','pink'],
                      ['Red','red'],
                      ['Wood','wood']
                                          
                                        ]) ,
                    :onchange => 'cambio(this.value)',
                    class: "span1", style:"width:100%" %>

              </li>
 
              <%#= Selector de Idioma %>
              <% if session[:user_id] %>
                <li>
                  <%= form_tag store_path, :class => 'locale' do %>
                  <%= select_tag 'set_locale', 
                     options_for_select(LANGUAGES, I18n.locale.to_s),
                    :onchange => 'this.form.submit()',class: "span2" %>
                   <%= javascript_tag "$$('.locale input').each(Element.hide)" %>
                  <% end %>
                </li>
              <% end %>

              <%#= Link para Login %>
              <% if !session[:user_id] %>
                <li>
                  <%= link_to "Sign In", admin_path %>
                </li>
              <% end %>

            </ul>
          </div>
        </div>
      </div>
</div>
