<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Useful Links</li>
    <li><%= link_to "Home", store_path  %></li>
    <li><%= link_to "Books", books_path  %></li>
    <li><%= link_to "Orders", "#"  %></li>
    <li><%= link_to "Blog", articles_path  %></li>
    <li><%= link_to "FAQ", "#"  %></li>
  </ul>
</div>
