<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header"><%=t('.useful_links')%></li>
    <li><%= link_to t('.home'),   store_path  %></li>
    <li><%= link_to t('.books'),  books_path  %></li>
    <li><%= link_to t('.orders'), orders_path %></li>
    <li><%= link_to t('.blog'), articles_path %></li>
    <li><%= link_to t('.faq'),    "#"         %></li>
  </ul>
</div>
