<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title><%= content_for?(:title) ? yield(:title) : "Alexandria Links" %></title>

    <%= csrf_meta_tags %>
    <%= render 'layouts/meta'  %>
    <%= render 'layouts/shim'  %>
    <%= render 'layouts/icons' %>
    <%= render 'layouts/fonts' %>

    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>

    <%= render 'layouts/header' %>

    <div class="container-fluid">
      <div class="row-fluid">
        
        <div class="span9">
          <%= yield %>
        </div>

        <div class="span3">
          <%= render 'layouts/sidebar' %>
        </div>

      </div>

      <%= render 'layouts/footer' %>

    </div> <!-- /container -->

    <%= javascript_include_tag "application" %>

  </body>
</html>
